@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  position: relative;
  display: grid;
  width: 105%;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  min-width: 70px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.button--white {
  color: #ffffff;
  border: solid #ffffff 1px;
}

section {
  justify-self: center;
  position: relative;
  display: grid;
  align-content: start;
  max-width: 1050px;
  width: 100%;
  min-height: 100vh;
  padding: 10% 15px;
}

.section-name::first-letter {
  background-color: #120a1b;
  color: #ffffff;
  padding: 0px 4px;
}

.section-name {
  justify-self: start;
  position: relative;
  font-size: 40px;
  padding: 18px 0;
}

.section-name__background-text {
  position: absolute;
  left: 30px;
  transform: translateY(-40%);
  font-size: 180px;
  font-weight: 600;
  color: #e6d2d2;
  z-index: -1;
}
