
.description p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .7s ease-in-out, transform .6s ease-in-out;
}
.description p[class~=active] {
    opacity: 1;
    transform: translateY(0px);
}

.about-me .description {
    max-width: 1024px;
}